body {
    padding: 0 20px;
}
table {
    border: 3px solid black;
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
td {
    border: 5px solid black; 
    width:50px;
    height: 50px;
}
td :last-child {
    height: 30px;
}
tr :last-child  {
    width: 30px;
    height: 30px;
}   
.red {
    background: red;
}
.yellow {
    background: yellow;
}
.blue {
    background: blue;
}
.black {
    background: black;
}